/* src/App.css */
.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #282c34;
  color: white;
}

.show-button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}

.sample-image {
  max-width: 100%;
  height: auto;
}
